<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73005344198282DA0041266D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7300534E198282DA0041266D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>730AB44719780478002B055B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
